:root {
  --grayLight: #ddd;
  --grayLightEx: #f1f1f1;
  --primaryColor: #00a593;
  --secondaryColor: #eef6f5;
  --blue: rgb(0, 117, 255);
  --red: rgb(237, 102, 102);
  --controllerWidth: 328px;
  --gap: 36px;
  --border: 1px solid var(--grayLight);
  --columnHeight: 40px;
  --rowHeight: 48px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid var(--blue);
  padding-block: 16px;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
.checkbox {
  display: flex;
  width: 100%;
  justify-content: center;
}
input[type="checkbox"] {
  display: block;
  width: 18px;
  height: 18px;
}
select {
  font-size: 16px;
  padding: 4px;
  border: var(--border);
  border-radius: 4px;
}
button {
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
}
.wrapper {
  width: min(1080px, 100%);
  height: 100vh;
  margin-inline: auto;
  background: #fff;
}
header {
  display: flex;
  align-items: center;
  padding-block: 24px 12px;
}
header h1 a {
  text-decoration: none;
  color: #000;
}
header a {
  font-weight: bold;
  text-underline-offset: 4px;
}
header p {
  font-size: 12px;
  color: #666;
  margin-left: auto;
}
.current {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-bottom: 12px;
}
.current span {
  display: block;
  font-size: 10px;
  background: var(--grayLightEx);
  color: #aaa;
  font-style: italic;
  border-radius: 100px;
  padding: 8px 16px;
}
.nav {
  border: var(--border);
  border-radius: 6px;
  margin-top: 24px;
}
.nav dl {
  display: flex;
  align-items: center;
}
.nav dl + dl {
  border-top: 1px solid var(--grayLight);
}
.nav dt,
.nav dd {
  padding: 16px;
  line-height: 1.5;
}
.nav dt {
  width: 200px;
  flex-shrink: 0;
}
.nav dd {
  border-left: 1px solid var(--grayLight);
}
.container {
  display: flex;
  position: relative;
}
.column-controller {
  display: flex;
  width: var(--controllerWidth);
  flex-shrink: 0;
  gap: 8px;
}
.column-controller__group {
  flex-shrink: 0;
  width: calc(var(--controllerWidth) / 2);
}
.column-controller__inner {
  font-size: 12px;
  border-radius: 6px;
  border: var(--border);
  overflow: hidden;
}
.column-controller__inner + .column-controller__inner {
  margin-top: 8px;
}
.column-controller__inner > p {
  background: var(--primaryColor);
  color: #fff;
  font-weight: bold;
  padding: 10px 12px;
}
.column-controller__inner ul {
  list-style: none;
  padding: 12px;
}
.column-controller__inner li + li {
  margin-top: 10px;
}
.column-controller__inner li ul {
  display: flex;
  align-items: center;
  padding: 10px 0 8px;
}
.column-controller__inner li ul li + li {
  margin-top: 0;
  margin-left: 16px;
}
.column-controller__inner label {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
}
.column-controller__inner.visibility label:has(input[type="checkbox"]) {
  width: fit-content;
}
.column-controller__inner label > span,
.column-controller__inner.pinned li > span {
  font-size: 12px;
  color: #aaa;
}
.column-controller__inner select {
  display: block;
  width: 100%;
}

/** Grid */
.column-controller + .contents {
  width: calc(100% - (var(--controllerWidth) + var(--gap)));
  margin-left: var(--gap);
}
.column-controller + .contents .grid {
  max-height: calc(15 * var(--rowHeight) + var(--columnHeight));
}
.grid {
  height: fit-content;
  max-height: 100vh;
  border: var(--border);
  font-size: 14px;
  border-radius: 6px;
  overflow: auto;
}
.grid__header {
  position: sticky;
  top: 0;
  width: fit-content;
  z-index: 2;
}
.grid__body,
.grid__row {
  width: fit-content;
}
.grid__row-content {
  display: grid;
  width: fit-content;
  grid-auto-flow: column;
  justify-content: start;
}
.grid__row.is-selected .grid__cell {
  background: var(--secondaryColor);
}
.grid__row.no-selectable .grid__cell {
  color: #aaa;
}
.grid__row.no-selectable .grid__cell b {
  font-weight: normal;
}
.grid__cell {
  display: flex;
  align-items: center;
  height: var(--rowHeight);
  background: inherit;
  padding-inline: 14px;
}
.grid__header .grid__cell {
  height: var(--columnHeight);
  font-weight: bold;
  background-color: var(--primaryColor);
  color: #fff;
  position: relative;
}
.grid__header .grid__cell + .grid__cell {
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}
.grid__header .grid__row + .grid__row .grid__cell {
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}
.grid__body .grid__row:not(:first-of-type) .grid__cell,
.grid__footer .grid__cell {
  border-top: var(--border);
}
.grid__footer {
  font-size: 12px;
  color: #aaa;
}
.grid__footer .grid__cell {
  height: 24px;
}
.grid__cell-inner {
  display: flex;
  align-items: center;
}
.grid__cell-content {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.grid__cell span.male {
  color: var(--blue);
}
.grid__cell span.female {
  color: var(--red);
}
.grid__header .grid__cell button {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  margin-left: 12px;
  pointer-events: none;
  transition: opacity 0.2s;
}
.grid__header .grid__cell button.is-active,
.grid:not(.grid.is-resizing) .grid__header .grid__cell:hover button {
  opacity: 1;
  pointer-events: auto;
}
.grid__row-sub {
  display: flex;
  height: 0;
  flex-direction: row;
  gap: 24px;
  font-size: 12px;
  padding-inline: 16px;
  background: #fafffe;
  border-top: 1px solid #eef5f3;
  opacity: 0;
  transition: all 0.2s linear;
  overflow: hidden;
}
.grid__row.is-expanded .grid__row-sub {
  height: 58px;
  opacity: 1;
}
.grid__row-sub dl {
  display: flex;
  align-items: center;
}
.grid__row-sub dt {
  background: #eee;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 8px;
  color: #666;
}
.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: rgb(255, 185, 56);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  transition: opacity 0.2s, background 0.2s;
}
.resizer.is-resizing {
  background: rgb(250, 97, 108);
  opacity: 1;
}
.expander,
.pin {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.expander.is-active button,
.pin__reset {
  font-size: 18px;
  color: var(--red);
  opacity: 0.5;
}
.pin__top,
.pin__bottom {
  font-size: 16px;
  color: #c8c8c8;
  padding: 2px;
  cursor: pointer;
}
.expander button {
  font-size: 26px;
  font-weight: bold;
  color: #c8c8c8;
  cursor: pointer;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  gap: 16px;
  padding-block: 16px;
  color: #888;
}
.pagination b {
  color: #000;
}
.pagination__list {
  display: flex;
  list-style: none;
  gap: 8px;
}
.pagination__list button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 32px;
  height: 32px;
  background: none;
  border: var(--border);
  color: #666;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}
.pagination__list button:disabled {
  color: #ddd;
  cursor: not-allowed;
}
.pagination__block {
  display: flex;
  align-items: center;
}
.pagination__block.status {
  margin-right: auto;
}
.pagination__count {
  font-size: 10px;
}
.pagination__block > span {
  margin-right: 6px;
}
.pagination__block input,
.pagination__block select {
  width: 60px;
  height: 32px;
  padding: 4px;
  border: var(--border);
  border-radius: 4px;
}
.pagination__block select {
  cursor: pointer;
}
.search {
  display: flex;
  height: 32px;
  justify-content: end;
  gap: 8px;
  margin-block: 8px;
}
.search span {
  font-size: 14px;
  margin-right: 8px;
  color: #aaa;
}
.search input,
.search button {
  height: 100%;
}
.search input {
  width: 160px;
  border: var(--border);
  border-radius: 4px;
  padding: 4px;
}
.search button {
  width: 68px;
  padding: 4px;
  background: var(--primaryColor);
  color: #fff;
  border-radius: 4px;
}
@media (hover: hover) {
  .resizer {
    opacity: 0;
  }
  .grid__cell:has(.is-resizing) + .grid__cell:hover .resizer {
    opacity: 0;
  }
  .grid__cell:hover .resizer {
    opacity: 1;
  }
  .expander:hover button {
    color: #000;
  }
  .pin__top:hover,
  .pin__bottom:hover {
    color: var(--primaryColor);
  }
  .expander.is-active:hover button,
  .pin__reset:hover {
    color: var(--red);
    opacity: 1;
  }
}
